---
import BlogCard from "@/components/BlogCard.astro";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const BLOG_FOLDER = "blog";

const postIndex = await getListPage(BLOG_FOLDER, "-index");
if (postIndex.data.draft) {
  return Astro.redirect("/404");
}
const posts = await getSinglePage(BLOG_FOLDER);
const sortedPosts = sortByDate(posts);
const currentPosts = sortedPosts.slice(0, 4); // Display latest 4 posts
---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <section class="section pb-14 pt-16">
    <div class="container">
      <div class="row justify-left">
        <div class="lg:col-12">
          <h1
            class="mb-6 font-serif text-5xl leading-tight text-dark dark:text-light md:text-6xl"
          >
            Me llamo Juan Lupión, y de una forma u otra llevo programando desde
            los años 80.
          </h1>
          <p class="mb-10 text-xl italic text-text dark:text-darkmode-text">
            Este espacio recoge pinceladas y extractos sobre tecnología,
            programación, música y proyectos que han ido surgiendo a lo largo
            del tiempo. Puedes leer mis <a
              href="/blog"
              class="text-primary hover:underline">últimos textos</a
            > o explorar los <a
              href="/hronia"
              class="text-primary hover:underline">archivos</a
            >, o saber más <a href="/about" class="text-primary hover:underline"
              >sobre mí</a
            >.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section py-14 bg-theme-light dark:bg-darkmode-theme-light">
    <div class="container">
      <div class="row gx-5">
        <div class="mb-10 lg:col-6 lg:mb-0">
          <h2 class="mb-4 font-serif text-3xl">Sobre este rincón</h2>
          <p class="text-text dark:text-darkmode-text">
            Mantenido con paciencia y Astro, esto no es solo un portfolio, sino
            un lugar donde la memoria de internet se resiste a desaparecer al
            estar construído de manera <a
              href="https://indieweb.org/"
              class="text-primary hover:underline"
              target="_blank"
              rel="noopener noreferrer">IndieWeb</a
            >.
          </p>
        </div>
        <div class="lg:col-6">
          <h2 class="mb-4 font-serif text-3xl">Qué cosas ando tramando</h2>
          <p class="text-text dark:text-darkmode-text">
            Siempre hay un repositorio git que investigar, una pieza musical que
            reconstruir nota a nota, o alguna herramienta oscura que explorar.
            Actualmente, mis intereses orbitan entre la música, la cosmología y
            la tecnología en general. Pero no garantizo que hable sólo de esto.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section py-14">
    <div class="container">
      <div class="row justify-left mb-12">
        <div class="lg:col-10">
          <h2 class="font-serif text-4xl">Últimos posts</h2>
        </div>
      </div>
      <div class="row justify-left">
        <div class="lg:col-12">
          <div class="row">
            {
              currentPosts.map((post) => (
                <div class="mb-14 md:col-6">
                  <BlogCard data={post} />
                </div>
              ))
            }
          </div>
          <div class="mt-8 text-center">
            <a class="btn btn-primary btn-lg" href="/blog">
              Ver todos los posts
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
